<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  {{#if infoMessages}}
  <p class="info">{{infoMessages}}</p>
  {{/if}}
  {{#if errorMessages }}
  <p class="error">{{ errorMessages }}</p>
  {{/if }}

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {{#if currentUser}}
        <li><a href="/user">{{currentUser.username.firstname}}</a></li>
        <li><a href="/houses/create">Create a House</a></li>
        <li><a href="/logout">Log Out</a></li>
        {{else}}
        <li><a href="/login">LogIn</a></li>
        <li><a href="/signup">Sign Up</a></li>
        {{/if}}

      </ul>
    </div>
  </nav>

  {{{body}}}



  {{!-- <div>
    <a href="/">Home</a>
    |
    <a href="">LogIn</a>
    |
    <a href="/signup">SignUp</a>
    |
    <a href="/houses">House List</a>
    |
    <a href="/houses/5d7a8811ddf3981b8c95b478">House details</a>
    |
    <a href="/houses/create/step-1">House create form</a>
    |
    <a href="/booking">new booking</a>
    |
    <a href="/user">User profile</a>
    |
    <a href="/user/bookings">List user bookings</a>
    |
    <a href="/user/bookings/1234">User booking details</a>
    |
    <a href="/user/bookings/1234/r&r">New Review</a>
    <a href="/logout">Logout</a>
  </div> --}}




  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/bookings.js"></script>
</body>

</html>