<div class="container">
  <div class="row">
    <div class="col s12 m4 l4">
        <div class="card  darken-1">
          <div class="card-content center-align">
            <img class="circle center-align" width="50%" src="{{user.avatar}}" alt="Avatar" co>
          </div>
          <div class="card-action">
             <i class=" small material-icons green-text text-darken-2">verified_user</i> Verified User
          </div>
          <div class="card-action">
             <i class=" small material-icons amber-text text-acent-4">star</i> 250 Review
          </div>
          <div class="card-action">
             <i class=" small material-icons">check_circle</i> ID Card <br>
             <i class=" small material-icons">check_circle</i> Phone Number <br>
             <i class=" small material-icons">check_circle</i> Have Contact Email <br>

          </div>
        </div>
      </div>       
    
    <div class="col s12 m4 l8">
      <h2>Hi, I'm {{user.username.firstname}} {{user.username.lastname}} </h2>
      <i class=" small material-icons green-text text-darken-2">verified_user</i> I live into {{user.address.city}}, {{user.address.country}}
      <i class=" small material-icons green-text text-darken-2">verified_user</i> I live into {{user.address.city}}, {{user.address.country}}
      
      <div>
        <blockquote>
          {{user.bio}}
        </blockquote>
      </div>
      <div>
        <h5> <span> <strong>YOU CAN SEE A THE PHOTOS OF MY HOUSE</strong> </span></h5>
      </div>
      <div>
        {{#each house.photos}}
          <img src="{{this}}" alt="" width="25%">
          {{/each}}
      </div>
      <div>
      <h5> <span> <strong>THE REVIEWS</strong> </span></h5>
      </div>
      
    </div>

  </div>
</div>
