<div class="container">
  <div class="row">
    <div class="col s12 m4 l3 ">
      <div class="collection ">
        <a href="/user/step-1" class="collection-item active">In Box</a>
        <a href="/user/avatar-upload" class="collection-item">Send</a>
      </div>
    </div>
    <div class="col s12 m8 l9 collapsaible-width">
      <h3>Booking messages list </h3>
      <br>
      {{!-- <ul class="collapsible">
        {{#each messages}}
        <li class="active">
          <div class="">
            <div class="collapsible-header "><i class="material-icons">filter_drama</i>
              {{this.message}} <br>
              You have a request:<br />
              from: {{this.userFrom.username.firstname}}<br>
            </div>
          </div>
          <div class="collapsible-body"><span>
              {{#if this.booking}}
              You have a request:<br />
              from: {{this.userFrom.username.firstname}}<br>
              to go in: {{this.booking.dateIn}}<br>
              to go out: {{this.booking.dateOut}}<br />
              {{else}}
              You have a message:<br />
              from: {{this.userFrom.username.firstname}}<br>
              {{/if}}
            </span>
          </div>
        </li>
        {{/each}}
      </ul> --}}
    </div>
  </div>
</div>