<h1 style="margin-left: 30px;">User bookings list</h1>
  <div class="row" style="margin-left: 30px;
    margin-right: 30px;">
    {{#each userBookings}}
    <div class="col s12 m4">
      <div class="card_details">
        <class="card-image"><a href="/houses/{{this._id}}"><img src="/images/pictures/photo1.jpg" width="250px"
              alt="Foto"></a>
          <h3>House:</h3>
          <div>rooms: {{ this.house.rooms }}</div>
          <div>m2: {{ this.house.m2 }}</div>
          <div>description:{{ this.house.description }}</div>
          <hr>
          <div>Adress: casa Paco</div>
          <div>state:{{ this.house.address.state }}</div>
          <div>city:{{ this.house.address.city }}</div>
          <div>street:{{ this.house.address.street }}</div>
          <div>zip:{{ this.house.address.zip }}</div>
          <hr>
          <h3>Features:</h3>
          <ul>
            {{#each this.house.features}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <h3>Electro:</h3>
          <ul>
            {{#each this.house.electro}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <h3>Services included:</h3>
          <ul>
            {{#each this.house.sevicesincluded}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </class>
      </div>
      
    </div>
    {{/each}}
  </div>
  
