<h1 style="margin-left: 30px;">User bookings list</h1>
<div class="container">
  {{#each userBookings}}
  <div class="row">
    <div class="card container_houses">
      <div class="col s12">
        <!--style="border-right: 1px solid gray; height: auto;-->
        <div class="col s5">
          <h2>{{house.title}}:</h2>
          <blockquote>
            <h4>Dates:</h4>
          </blockquote>
          <div>In Date:<br>
            <input type="text" id="dateIn" name="dateIn" value="{{dateIn}}">
          </div>
          <div>Out Date:<br>
            <input type="text" id="dateOut" name="dateOut" value="{{dateOut}}">
          </div>
        </div>

        <div class="col s4">
          <blockquote>
            <h4>Mandatory:</h4>
          </blockquote>
          <ul>
            {{#each sevicestoHosterCompromise }}
            <li>
              <label style="pointer-events: none"><input type="checkbox" readonly class="services" checked="true"
                  name="{{this.typesevice}}" value="{{this.points}}">
                <span>{{this.typesevice}} {{this.points}}</span></label>
            </li>
            {{/each}}
          </ul>
          <br>
          <div class="file-field input-field">
            <button class="btn waves-effect waves-light red" type="submit" name="action">DELETE BOOKING</button>
          </div>
        </div>

        <div class="col s3">
          {{#each house.photos}}
          <div>
            <img src="{{this}}" alt="" width="100%">
          </div>
          {{/each}}
        </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>
