<div class="container">
  <div class="row">
    <div class="col s12 m4 l3">
      <div class="collection">
        <a href="/houses/create/step-1" class="collection-item">Edit House</a>
        <a href="/houses/create/step-upload" class="collection-item">House's photo </a>
        <a href="/houses/create/step-2" class="collection-item">About you house</a>
        <a href="/houses/create/step-3" class="collection-item active">Services</a>
      </div>
      <a class="rounded waves-effect waves-light btn teal lighten-3 " href="/houses/{{house.id}}">PREVIEW THE HOUSE</a>
    </div>

    <div class="col s12 m8 l9">
      <h2>HOUSE DESCRIPTIONS</h2> <br>
      <h5>SETP 4 OF 4</h5>
      <form id="form" action="/houses/create/step-3" method="POST">
        <h5>SEVICES MANDATOY OR OPTATIVE</h5>
        {{#if house.canActive }}
        {{#each house.sevicestohoster}}
        <div class="col s12 m12 l12">
          <h6>{{this.serviceType}} - {{this.points}} discount points</h6>
          <div class="col s12 m3 l6">
            <label><input type="radio" name="{{this.serviceType}}" value="none"> <span>none</span></label>
            {{#if this.requirement}}
            <label><input type="radio" name="{{this.serviceType}}" value="req" checked>
              <span>optative</span></label>
            {{else}}
            <label><input type="radio" name="{{this.serviceType}}" value="req"> <span>optative</span></label>
            {{/if}}
            {{#if this.mandatory}}
            <label><input type="radio" name="{{this.serviceType}}" value="mandatory" checked>
              <span>mandatory</span></label>
            {{else}}
            <label><input type="radio" name="{{this.serviceType}}" value="mandatory"> <span>mandatory</span></label>
            {{/if}}
          </div>
          <div class="col s12 m9 l6">
            <span>{{this.description}}</span><br>
          </div>
        </div>
        {{/each}}
        {{else}}
        {{#each servicesArray}}
        <div class="col s12 m12 l12">
          <h6>{{this.serviceType}} ({{this.points}} discount points</h6>
          <div class="col s12 m6 l4">
            <label><input type="radio" name="{{this.serviceType}}" value="none"> <span>none</span></label>
            {{#if this.requirement}}
            <label><input type="radio" name="{{this.serviceType}}" value="req" ckecked> <span>optative</span></label>
            {{else}}
            <label><input type="radio" name="{{this.serviceType}}" value="req"> <span>optative</span></label>
            {{/if}}
            {{#if this.mandatory}}
            <label><input type="radio" name="{{this.serviceType}}" value="mandatory" checked>
              <span>mandatory</span></label>
            {{else}}
            <label><input type="radio" name="{{this.serviceType}}" value="mandatory"> <span>mandatory</span></label>
            {{/if}}
          </div>
          <div class="col s12 m6 l8">
            <span>{{this.description}}</span><br>
          </div>
        </div>
        {{/each}}
        {{/if}}
        <div class="col s12 m12 l12">
          <br>
          <label for="restricciones">Restriccions</label><br>
          <textarea class="materialize-textarea" name="restricciones"></textarea><br>
        </div>

        <div class="col s12 m12 l12">
          <h5>START AVAILABLE FROM</h5>
          <div class="input-field col s12 m4 l3">
            <label for="monthStart">Month Start</label><br>
            <select name="month">
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select><br>
          </div>
          <div class="input-field col s12 m4 l3">
            <label for="yearStart">Year Start</label><br>
            <select name="year">
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
            </select><br><br>
          </div>
        </div>

        <h5>YOUR PRICE</h5>
        <div class="input-field col s12 m4 l3">
          <h6>Cost / Month</h6>
          <input type="text" name="costpermonth" placeholder="0000" value="{{house.rentroom.costpermonth}}">
        </div>
        <div class="input-field col s12 m4 l3">
          <h6>Deposit</h6>
          <input type="text" name="deposit" placeholder="0000" value="{{house.rentroom.deposit}}">
        </div>

        <div class="input-field col s12 m12 l12">
          <button class="btn waves-effect waves-light" type="submit" name="action">SAVE MODIFICATIONS</button>
        </div>
        <dir>
          {{!-- HIDE DATA  --}}
          <input class="hide" type="text" name="roomm2" value="{{house.rentroom.m2}}">
          <input class="hide" type="text" name="wardrobes" value="{{house.rentroom.wardrobes}}">
          <input class=" hide" type="text" name="window" value="{{house.rentroom.window}}">
          <input class="hide" type="text" name="wc" value="{{house.rentroom.wc}}">
          <input class="hide" type="text" name="balcony" value="{{house.rentroom.balcony}}">
          <input class="hide" type="text" name="heat" value="{{house.rentroom.heat}}">
          <input class="hide" type="text" name="roomac" value="{{ house.rentroom.roomac}}">
          <input class="hide" type="text" name="tv" value="{{house.rentroom.tv}}">
          <input class="hide" type="text" name="table" value="{{ house.rentroom.table}}">
          <input class="hide" type="text" name="chair" value="{{ house.rentroom.chair}}">
          <textarea class="hide" rows="5" cols="33" name="othersThings">{{ house.rentroom.othersThings }}</textarea>
        </dir>

      </form>

    </div>
  </div>
</div>