<h1>HOUSE create form</h1>
<h2>TELL US ABOUT YOUR HOUSE STEP 3 OF 4</h2>
<form id="form" action="/houses/create/step-2" method="POST">
  <h5>Number of rooms</h5>
  <label><input type="radio" name="rooms" value="1" checked> <span>1</span> </label><br>
  <label><input type="radio" name="rooms" value="2"> <span>2</span> </label><br>
  <label><input type="radio" name="rooms" value="3"> <span>3</span></label><br>
  <label><input type="radio" name="rooms" value="4"> <span>+4 or more</span></label><br>
  <br>
  <label for="m2">M2</label>
  <input type="text" name="house-m2" placeholder="house-m2" value="">
  <br>
  <label for="description">Description</label><br>
  <textarea rows="5" cols="33" name="description"></textarea><br>

  <h5>features</h5><br>
  {{#each featuresArray}}
  <label><input type="checkbox" name="features" value="{{this}}"> <span>{{this}}</span></label><br>
  {{/each}}

  <br>

  <h5>electro</h5>
  {{#each electroArray}}
  <label><input type="checkbox" name="electro" value="{{this}}"> <span>{{this}} </span></label><br>
  {{/each}}
  <br>

  <h5>Services Included</h5>
  {{#each sevicesIncludedArray}}
  <label><input type="checkbox" name="sevicesincluded" value="{{this}}"> <span>{{this}}</span></label> <br>
  {{/each}}

  <br>
  <h5>THE ROOM</h5>
  <label for="roomm2">M2 Room</label>
  <input type="text" name="room-m2" placeholder="000" value="">
  <br>
  <label for="wardrobes">wardrobes</label><br>
  <label><input type="radio" name="wardrobes" value="uno"> <span>uno</span></label><br>
  <label><input type="radio" name="wardrobes" value="dos"> <span>dos</span></label><br><br>
  <label>window</label><br>
  <label><input type="radio" name="window" value="uno"> <span>uno</span></label><br>
  <label><input type="radio" name="window" value="dos"> <span>dos</span></label><br><br>
  <label>wc</label><br>
  <label><input type="radio" name="wc" value="private bathroom"> <span>private bathroom</span></label><br>
  <label><input type="radio" name="wc" value="share bathroom"> <span>share bathroom</span></label><br><br>

  <label><input type="checkbox" name="balcony" value="true"> <span>have a balcony</span></label><br>
  <label><input type="checkbox" name="heat" value="true"> <span>have a heat</span></label><br>
  <label><input type="checkbox" name="ac" value="true"> <span>have a ac</span></label><br>
  <label><input type="checkbox" name="tv" value="true"> <span>have a tv</span></label><br>
  <label><input type="checkbox" name="table" value="true"> <span>have a tabe</span></label><br>
  <label><input type="checkbox" name="chair" value="true"> <span>have a chair</span></label><br>

  <label for="othersThings">Others Things</label><br>
  <textarea rows="5" cols="33" name="othersThings"></textarea><br>
  <br>
  <label for="m2">Cost</label>
  <input type="text" name="costpermonth" placeholder="0000" value="">
  <br>
  <p>
    <button type="submit">Save the house GO TO THE STEP 4</button>
  </p>
</form>