<div class="container">
  <div class="row">
    <div class="col s12 m4 l3">
      <div class="collection">
        <a href="/houses/create/step-1" class="collection-item">Edit House</a>
        <a href="/houses/create/step-upload" class="collection-item ">House's photo </a>
        <a href="/houses/create/step-2" class="collection-item active">About you house</a>
        <a href="/houses/create/step-3" class="collection-item">Services</a>
      </div>
      <a class="rounded waves-effect waves-light btn teal lighten-3 " href="/houses/{{house.id}}">PREVIEW THE HOUSE</a>
    </div>
    <div class="col s12 m8 l9">
      <h2>HOUSE DESCRIPTIONS</h2> <br>
      <h5>SETP 3 OF 4</h5>
      <form id="form" action="/houses/create/step-2" method="POST">
        <div class=" col s12 m12 l12">
          <h5>Title of your house</h5>
          <input type="text" name="title" placeholder="title" value="{{house.title}}">
        </div>
        <div class=" col s12 m12 l12">
          <div class="input-field col s12 m4 l3">
            <h5>M2 house</h5>

            <input type="text" name="houseM2" placeholder="house-m2" value="{{house.m2}}">
          </div>
          <div class="input-field col s12 m12 l9">
            <h5>Number of rooms</h5>
            <div class="input-field col s6 m3 l2">
              <label><input type="radio" name="rooms" value="1" {{#if_eq house.rooms 1}}checked{{/if_eq}}>
                <span>1</span>
              </label><br>
            </div>
            <div class="input-field col s6 m3 l2">
              <label><input type="radio" name="rooms" value="2" {{#if_eq house.rooms 2}}checked{{/if_eq}}>
                <span>2</span> </label><br>
            </div>
            <div class="input-field col s6 m3 l2">
              <label><input type="radio" name="rooms" value="3" {{#if_eq house.rooms 3}}checked{{/if_eq}}>
                <span>3</span></label><br>
            </div>
            <div class="input-field col s6 m3 l2">
              <label><input type="radio" name="rooms" value="4" {{#if_eq house.rooms 4}}checked{{/if_eq}}> <span>+
                  4</span></label><br>
            </div>
          </div>
        </div>
        <br>
        <br>

        <label for="description">Description</label><br>
        <textarea class="materialize-textarea" name="description">{{house.description}}</textarea><br>
        <div class="input-field col s12 m12 l12">
          <h5>Features</h5>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="calefaccion" value="true"
                {{#if house.features.calefaccion}}checked{{/if}}> <span>Heating</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="ac" value="true"
                {{#if house.features.ac}}checked{{/if}}><span>A/C</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="piscina" value="true" {{#if house.features.piscina}}checked{{/if}}>
              <span>Pool</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="terraza" value="true" {{#if house.features.terraza}}checked{{/if}}>
              <span>Terrace</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="ascensor" value="true" {{#if house.features.ascensor}}checked{{/if}}>
              <span>Elevator</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="wifi" value="true" {{#if house.features.wifi}}checked{{/if}}>
              <span>WIFI</span></label>
          </div>
        </div>
        <div class="input-field col s12 m12 l12">
          <h5>Electro</h5>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="cocina" value="true"
                {{#if house.electro.cocina}}checked{{/if}}><span>Kitchen</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="nevera" value="true"
                {{#if house.electro.nevera}}checked{{/if}}><span>Freezer</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="lavadora" value="true"
                {{#if house.electro.lavadora}}checked{{/if}}><span>Washing machine</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="secadora" value="true"
                {{#if house.electro.secadora}}checked{{/if}}><span>Dryer</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="secadorDePelo" value="true"
                {{#if house.electro.secadorDePelo}}checked{{/if}}><span>Hair dyer</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="horno" value="true"
                {{#if house.electro.horno}}checked{{/if}}><span>Oven</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="microondas" value="true"
                {{#if house.electro.microondas}}checked{{/if}}><span>Micro Waves</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="aspiradora" value="true"
                {{#if house.electro.aspiradora}}checked{{/if}}><span>Vacuum cleaner</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="batidora" value="true"
                {{#if house.electro.batidora}}checked{{/if}}><span>Mixer</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="electro" value="true"
                {{#if house.electro.tostadora}}checked{{/if}}><span>kitchen</span></label>
          </div>
        </div>

        <div class="input-field col s12 m12 l12">
          <h5>Services Included</h5>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="agua" value="true"
                {{#if house.sevicesincluded.agua}}checked{{/if}}><span>Water</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="aguaCaliente" value="true"
                {{#if house.sevicesincluded.aguaCaliente}}checked{{/if}}><span>Warm water</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="electricidad" value="true"
                {{#if house.sevicesincluded.electricidad}}checked{{/if}}><span>Electricity</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="internet" value="true"
                {{#if house.sevicesincluded.internet}}checked{{/if}}><span>Internet</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="utensiliosBano" value="true"
                {{#if house.sevicesincluded.utensiliosBano}}checked{{/if}}><span>Bathroom appliances</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="desayuno" value="true"
                {{#if house.sevicesincluded.desayuno}}checked{{/if}}><span>Breakfast</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="cenas" value="true"
                {{#if house.sevicesincluded.cenas}}checked{{/if}}><span>Dinner</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="utensiliosCocina" value="true"
                {{#if house.sevicesincluded.utensiliosCocina}}checked{{/if}}><span>Kitchen Tools</span></label>
          </div>
          <div class="input-field col s6 m3 l3">
            <label><input type="checkbox" name="cama" value="true"
                {{#if house.sevicesincluded.cama}}checked{{/if}}><span>bed</span></label>
          </div>

        </div>
        <div class="input-field col s12 m12 l12">
          <h4> && THE ROOM</h4>
          <div class="row">
            <div class="input-field col s6 m3 l4">
              <label for="roomm2">M2 Room</label>
              <input type="text" name="roomm2" placeholder="000" value="{{house.rentroom.m2}}">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m3 l4">
              <label for="wardrobes">wardrobes</label>
              <div class="input-field col s12 m12 l12">
                <label><input type="radio" name="wardrobes" value="uno"
                    {{#if_eq house.rentroom.wardrobes 'uno'}}checked{{/if_eq}}>
                  <span>One</span></label>
              </div>
              <div class="input-field col s12 m12 l12">
                <label><input type="radio" name="wardrobes" value="dos"
                    {{#if_eq house.rentroom.wardrobes 'dos'}}checked{{/if_eq}}>
                  <span>Two</span></label>
              </div>
            </div>
            <div class="input-field col s6 m3 l4">
              <label>window</label>
              <div class="input-field col s12 m12 l12">
                <label><input type="radio" name="window" value="uno"
                    {{#if_eq house.rentroom.window 'uno'}}checked{{/if_eq}}>
                  <span>One</span></label>
              </div>
              <div class="input-field col s12 m12 l12">
                <label><input type="radio" name="window" value="dos"
                    {{#if_eq house.rentroom.window 'dos'}}checked{{/if_eq}}>
                  <span>Two</span></label>
              </div>
            </div>
            <div class="input-field col s6 m3 l4">
              <label>wc</label>
              <div class="input-field col s12 m12 l12">
                <label><input type="radio" name="wc" value="private bathroom"
                    {{#if_eq house.rentroom.wc 'private bathroom'}}checked{{/if_eq}}> <span>Private
                    bathroom</span></label>
              </div>
              <div class="input-field col s12 m12 l12">
                <label><input type="radio" name="wc" value="share bathroom"
                    {{#if_eq house.rentroom.wc 'share bathroom'}}checked{{/if_eq}}> <span>Shared bathroom</span></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m3 l3">
              <label><input type="checkbox" name="balcony" value="true" {{#if house.rentroom.balcony}}checked{{/if}}>
                <span>Have a balcony</span></label>
            </div>
            <div class="input-field col s6 m3 l3">
              <label><input type="checkbox" name="heat" value="true" {{#if house.rentroom.heat}}checked{{/if}}>
                <span>Have
                  a heat</span></label>
            </div>
            <div class="input-field col s6 m3 l3">
              <label><input type="checkbox" name="roomac" value="true" {{#if house.rentroom.roomac}}checked{{/if}}>
                <span>Have a
                  ac</span></label>
            </div>
            <div class="input-field col s6 m3 l3">
              <label><input type="checkbox" name="tv" value="true" {{#if house.rentroom.tv}}checked{{/if}}> <span>Have a
                  tv</span></label>
            </div>
            <div class="input-field col s6 m3 l3">
              <label><input type="checkbox" name="table" value="true" {{#if house.rentroom.table}}checked{{/if}}>
                <span>Have a tabe</span></label>
            </div>
            <div class="input-field col s6 m3 l3">
              <label><input type="checkbox" name="chair" value="true" {{#if house.rentroom.chair}}checked{{/if}}>
                <span>Have a chair</span></label>
            </div>
          </div>
          <div class="row">
            <div class="mt40 input-field col s12 m12 l12">
              <label for="othersThings">Others Things</label>
              <textarea class="materialize-textarea" rows="5" cols="33"
                name="othersThings">{{ house.rentroom.othersThings }}</textarea>
            </div>
          </div>
        </div>
        <div class="input-field col s12 m12 l12">
          <button class="btn waves-effect waves-light" type="submit" name="action">SAVE MODIFICATIONS</button>
        </div>

        {{!-- HIDEN OBJET ROOMRENT --}}
        <input class="hide" type="text" name="costpermonth" placeholder="0000" value="{{house.rentroom.costpermonth}}">
        <input class="hide" type="text" name="deposit" placeholder="0000" value="{{house.rentroom.deposit}}">

      </form>
    </div>
  </div>
</div>