<h1>HOUSE create form</h1>
<h2>YOUR CONDITIONS - STEP 4 OF 4 </h2>
<form id="form" action="/houses/create/step-3" method="POST">
  <h5>SEVICES MANDATOY OR OPTATIVE</h5>
  {{#each servicesArray}}
  <h6>{{this.serviceType}} - {{this.points}} puntos de descuento</h6>
  <label><input type="radio" name="{{this.serviceType}}" value="none" checked> <span>none</span></label><br>
  <label><input type="radio" name="{{this.serviceType}}" value="req"> <span>requirement</span></label><br>
  <label><input type="radio" name="{{this.serviceType}}" value="mandatory"> <span>mandatory</span></label><br>
  {{/each}}
  <br>
  <br>
  <label for="restricciones">Restricciones</label><br>
  <textarea rows="5" cols="33" name="restricciones"></textarea><br>

  <h2>START AVAILABLE </h2>
  <label for="monthStart">Month Start</label><br>
  <select name="month">
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select><br>
  <label for="yearStart">Year Start</label><br>
  <select name="year">
    <option>2009</option>
    <option>2010</option>
    <option>2011</option>
    <option>2012</option>
    <option>2013</option>
    <option>2014</option>
    <option>2015</option>
    <option>2016</option>
    <option>2017</option>
    <option>2018</option>
  </select><br><br>


  <h2>YOUR PRICE</h2>
  <label for="m2">Cost</label>
  <input type="text" name="costpermonth" placeholder="0000" value="">
  <br>
  <p>
    <button type="submit">Save the house</button>
  </p>
</form>