<h1>List of available houses</h1>
<div>
    <div class="row">
        <div class="col s12 m1"></div>
        <div class="col s12 m10">
            <div class="row">
                {{#each houses}}
                <div class="col s12 m4">

                    <div class="card-image">
                        <a href="/houses/{{this._id}}"><img src="{{this.photos.[0]}}"></a>
                        <span class="card-title">{{this.title}}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                            <img src="{{user.avatar}}"
                                alt="{{this.user.username.firstname}} {{this.user.username.lastname}}" width="30px"
                                height="30px" class="circle center-align"></a>
                    </div>
                    <div class="card-content">
                        <p>
                            calle Ramon Turró, 25 <br />
                            Price: 500€/mes
                        </p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col s12 m1"></div>
    </div>
</div>