<style>

</style>
<div class="house_list">
    <div class="row">
        <div class="col s12 m1"></div>
        <div class="col s12 m10">

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header title">
                        {{houses.length}} of available houses founded
                        {{#if city}}
                        in {{city}}
                        {{/if}}
                        <div class="filters">click to filter</div>
                    </div>
                    <div class="collapsible-body">
                        <form action="" method="get">
                            <div class="row">
                                <div class="col s6 m4 l4 ">
                                    <div class=" ">
                                        <select name="city">
                                            {{#if city}}
                                            <option value="" disabled>Where?</option>
                                            {{else}}
                                            <option value="" selected disabled>Where?</option>
                                            {{/if}}

                                            {{#each cities}}
                                            <option value="{{this}}" {{#if_eq this city}}selected{{/if_eq}}>{{this}}
                                            </option>
                                            {{/each}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col s6 m4 l4">
                                    <div class="title-month-filter">When</div>
                                    <div><input type="month" name="dateIn" id="dateIn" value="{{dateIn}}"></div>
                                </div>
                                <div class="col s4 m3 l4 ">
                                    <div class="title">Price</div>
                                    <div id="range"></div>
                                    <div class="price-container">
                                        <div>min:<span id="value-span-min"></span></div>
                                        <div>max:<span id="value-span-max"></span></div>
                                        <input type="hidden" name="priceMin" id="priceMin">
                                        <input type="hidden" name="priceMax" id="priceMax">
                                    </div>

                                </div>
                            </div>
                            <div class=" row">

                                <div class="title">Features</div>
                                <div class="input-field col s6 m3 l3">
                                    <label><input type="checkbox" name="calefaccion" value="true"
                                            {{#if calefaccion}}checked{{/if}}>
                                        <span>Calefacción</span></label>
                                </div>
                                <div class="input-field col s6 m3 l3">
                                    <label><input type="checkbox" name="ac" value="true"
                                            {{#if ac}}checked{{/if}}><span>A/C</span></label>
                                </div>
                                <div class="input-field col s6 m3 l3">
                                    <label><input type="checkbox" name="piscina" value="true"
                                            {{#if piscina}}checked{{/if}}>
                                        <span>Piscina</span></label>
                                </div>
                                <div class="input-field col s6 m3 l3">
                                    <label><input type="checkbox" name="terraza" value="true"
                                            {{#if terraza}}checked{{/if}}>
                                        <span>Terraza</span></label>
                                </div>
                                <div class="input-field col s6 m3 l3">
                                    <label><input type="checkbox" name="ascensor" value="true"
                                            {{#if ascensor}}checked{{/if}}>
                                        <span>Ascensor</span></label>
                                </div>
                                <div class="input-field col s6 m3 l3">
                                    <label><input type="checkbox" name="wifi" value="true" {{#if wifi}}checked{{/if}}>
                                        <span>WIFI</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12 right-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Filter
                                        <i class="material-icons right">send</i>
                                </div>

                                </button>
                            </div>

                        </form>
                    </div>
                </li>
            </ul>
            <div class="row">
                {{#each houses}}
                <div class="col s12 m3">

                    <div class="card">
                        <div class="card-image">
                            <a href="/houses/{{this._id}}">
                                {{#if this.photos}}
                                <img src="{{this.photos.[0]}}"></a>
                            {{else}}
                            <img src="/images/pictures/default.jpg"></a>
                            {{/if}}


                            <a class="btn-floating halfway-fab waves-effect waves-light white"
                                href="/user/{{this.user._id}}">
                                <img src="{{this.user.avatar}}"
                                    alt="{{this.user.username.firstname}} {{this.user.username.lastname}}"
                                    class="circle center-align"></a>
                        </div>
                        <a href="/houses/{{this._id}}">
                            <div class="card-content">
                                <div class="card-title">{{this.title}}</div>
                                <div>
                                    <p class="street">{{this.address.street}}</p>
                                    <p class="price">{{this.priceDiscounted}}€/month</p>
                                    <p class="extra">{{this.rentroom.m2}} m2 {{this.rooms}} room {{this.rentroom.wc}}
                                    </p>
                                </div>
                                <div class="services">
                                    {{#each this.mandatoryServices}}
                                    <i class="material-icons dp48" title="{{this.description}}">{{this.logo}}</i>
                                    {{/each}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col s12 m1"></div>
    </div>
    <br>
</div>