<h1>List of available houses</h1>
<div style="display:flex; justify-content:center; flex-wrap: wrap;">

    <div class="row">
        {{#each houses}}


        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <a href="
                    /houses/{{this._id}}"><img src="{{this.photos.[0]}}"></a>

                </div>
                <div class="card-content">
                    <p>{{this.title}}</p>
                    <p>user: {{this.user.username.firstname}} {{this.user.username.lastname}}</p>
                    <div>rooms: {{ this.rooms }}</div>
                    <div>m2: {{ this.m2 }}</div>
                </div>
                <div class="card-action">
                    <a href="/houses/{{this._id}}">View details</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>

</div>