<!-- HEADER DETAILS-->
<div class="row">
  <div class="col s12" style="text-align: center">
    <div class="textcenter">
      <h1>House details</h1>
      <h6>{{house.title}}</h6>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s5" style="float: right">
      <div class="card">
        <h3>Hi {{currentUser.username.firstname}},</h3>
        <h5>Details of your reservation:</h5>
        <h5>Owner: {{house.user.username.firstname}}</h5>
        {{#if currentUser}}
        <form name="BookingForm" method="GET" action="/booking/{{house._id}}">
          <div>From when you whant to in?</div><br>
          <input type="month" id="dateIn" name="dateIn" min="2019-10" value="">
          <div>Until?</div><br>
          <input type="month" id="dateOut" name="dateOut" min="2019-10" value="">
          <button class="btn waves-effect waves-light" type="submit" style="margin-top: 15px" name="action">Enviar
            Petición
            <i class="material-icons right">send</i>
          </button>
          
        </form><br>
        {{else}}
        <h3>Must be logged to book!</h3>
        {{/if}}
              <div class="pd5">Initial Price: <span id="totalAmount">{{house.rentroom.costpermonth}}</span> €/
                Montly
              </div>
              <div class="pd5">Discounts: <span id="discountPrice">{{sumPointsMandatory}}</span> €/ Montly
              </div>
              <div class="pd5">Final Price: <span id="finalPrice">{{finalFisrtPrice}}</span> €/ Montly</div>
              <input type="hidden" name="priceInitHidden" id="priceInitHidden" value="{{house.rentroom.costpermonth}}">
              <input type="hidden" name="discountHidden" id="discountHidden">
              <input type="hidden" name="priceEndHidden" id="priceEndHidden">
              <br>
              
      </div>
    </div>

    <!-- HOUSE SPECS -->
    <div class="col s7">
      <blockquote>
        <h3 class="header">House specs:</h3>
      </blockquote>
      <ul class="housespecs">
        <li>Number of rooms: {{ house.rooms }}</li>
        <li>Meters: {{ house.m2 }}</li>
        <li>Address: {{ house.address.street }}</li>
        <li>{{ house.address.city }}</li>
        <li>{{ house.address.state }}</li>
        <li>{{ house.address.zip }}</li><br />
        <div class="divider"></div>

        <!-- FEATURES -->

        <blockquote>
          <h3 class="header">Features:</h3>
        </blockquote>
        <ul class="features">
          <li class="features">{{#each house.features}}</li>
          <li>{{this}}</li>
          {{/each}}<br />
          <div class="divider"></div>
          <blockquote>
            <h3 class="header">Electro:</h3>
          </blockquote>
          <li class="features">{{#each house.electro}}</li>
          <li>{{this}}</li>
          {{/each}}<br />
          <div class="divider"></div>

          <!-- SERVICES INCLUDES -->

          <blockquote>
            <h3 class="header">Services included:</h3>
          </blockquote>
          <ul class="features">
            <li class="features">{{#each house.sevicesincluded}}</li>
            <li>{{this}}</li>
            {{/each}}<br />
            <div class="divider"></div>


            <!-- SERVICES HOSTER -->

            <blockquote>
              <h3 class="header">Services to hoster:</h3>
            </blockquote>
            <ul class="features">
              <li class="features">{{#each house.sevicestohoster}}</li>
              <li style="font-weight: bold">{{this.serviceType}}: <span style="font-weight: normal">{{this.points}}
                  points.</span></li>
              <li>is mandatory: {{this.mandatory}}</li>
              <li>is optional: {{this.requirement}}</li>
              <li>{{this.description}}</li></br>
              {{/each}}<br />
              <div class="divider"></div>
            </ul>

            <!-- HOUSE RESTRICTIONS -->

            <blockquote>
              <h3 class="header">Restrictions:</h3>
            </blockquote>
            <p>{{ house.restricciones }}</p>
    </div>
  </div>
</div><br>