<!-- HEADER DETAILS-->


<div id="gallery" class="row">
  <div class="col s12 m12 l12 margin-padding-cero ">
    {{#each house.photos}}
    {{#if_eq @index 0}}
    <div class="materialboxed col s12 m4 l6 margin-padding-cero ">
      <img src="{{this}}" alt="" width="100%" class="border1-black ">
    </div>
    {{/if_eq}}

    {{#if_eq @index 1}}
    <div class=" materialboxed col s12 m4 l3 margin-padding-cero">
      <img src="{{this}}" alt="" width="100%" class="border1-black ">
    </div>
    {{/if_eq}}

    {{#if_eq @index 2}}
    <div class="materialboxed col s12 m4 l3 margin-padding-cero">

      <img src="{{this}}" alt="" width="100%" class=" materialboxed border1-black ">
    </div>
    {{/if_eq}}

    {{#if_eq @index 3}}
    <div class="col s12 m4 l3 margin-padding-cero">
      <img src="{{this}}" alt="" width="100%" class="materialboxed border2-black-notup ">
    </div>
    {{/if_eq}}

    {{#if_eq @index 4}}
    <div class="col s12 m4 l3 margin-padding-cero">
      <img src="{{this}}" alt="" width="100%" class="materialboxed border2-black-notup ">
    </div>
    {{/if_eq}}

    {{/each}}
  </div>
</div>

{{!--CONTENT OF THE HOUSE  --}}
<div class="container">
  <div class="row">
    {{!--CONTENT OF THE HOUSE  --}}

    <!-- HOUSE SPECS -->
    <div class="col s12 m6 l7 margin-bottom50">
      {{!-- HOUSE --}}
      <div class="margin-bottom50">
        <h2>{{house.title}}</h2>
        <div class="col s12 m12 l2 center-align">
          <a href="/user/{{house.user._id}}">
            <img src="{{house.user.avatar}}" alt="" width="75px" height="75px" class="circle"><br>
          </a>
          {{house.user.username.firstname}} <br> {{house.user.username.lastname}}
        </div>
        <div>
          <div class="col s12 m12 l10">
            <div class="tex-house valign-wrapper mandatory10">
              <i class="small material-icons grey-text text-darken-3">home</i><span class="tex-house"> I live in a big
                house
                of<strong>{{house.m2}}</strong> with <strong>{{house.rooms}}</strong>. <br></span>
            </div>
            <div class="tex-house valign-wrapper mandatory10 margin-bottom50">
              <i class="small material-icons grey-text text-darken-3">location_on</i><span class="tex-house"> It´s a
                very
                nice
                place {{ house.address.street }} {{ house.address.state }}, {{ house.address.city }}, form
                {{ house.address.country }}</span><br><br>
            </div>
          </div>

        </div>
      </div>
      <div class="divider"></div>

      <!-- ROOM -->

      <div>

        <h5 class="teal-text text-lighten-2">YOUR ROOM</h5>
        <div class="row grey lighten-3 mandatory">
          <div class="col s12 m12 l12">
            <div class="col s6 m4 l3">
              <h4>{{house.rentroom.m2}} m2</h4>
            </div>
            <div class="col s6 m4 l3">
              WARDROBES
              {{#if_eq house.rentroom.wardrobes 'uno'}}
              <h4>One</h4>
              {{else}}
              <h4>Two</h4>
              {{/if_eq}}
            </div>
            <div class="col s6 m4 l3">
              WINDOWS
              {{#if_eq house.rentroom.window 'uno'}}
              <h4>One</h4>
              {{else}}
              <h4>Two</h4>
              {{/if_eq}}
            </div>
          </div>

        </div>

      </div>
      <div class="divider"></div>

      <!-- SERVICES HOSTER -->

      <blockquote>
        <h5 class="">Services to hoster:</h5>
      </blockquote>
      <div class="row grey lighten-3 mandatory">
        <div class="col s12 m12 l12 margin-bottom20 center-align"><strong>MANDATORY</strong></div>
        {{#each house.sevicestohoster}}
        {{#if this.mandatory}}
        <div class="services-max col s12 m6 l4 center-align">
          <i class="medium material-icons teal-text text-lighten-2">
            beenhere
          </i><br>
          <strong>{{this.serviceType}}</strong> <br>
          {{this.description}}
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="divider"></div>
      <div class="row grey lighten-4 mandatory">
        <div class="col s12 m12 l12 margin-bottom20 center-align"><strong>OPTATIVE</strong></div>
        {{#each house.sevicestohoster}}
        {{#if this.mandatory}}
        {{else}}
        <div class="services-max col s12 m6 l4 center-align">
          <i class="medium material-icons teal-text text-lighten-2">
            mood
          </i><br>
          <strong>{{this.serviceType}}</strong> <br>
          {{this.description}}
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="divider"></div>

      <!-- FEATURES -->

      <blockquote>
        <h5 class="header">Features:</h5>
      </blockquote>
      <div class="row">
        {{#if house.features.calefaccion}}
        <divc class="col s6 m4 l2 ">
          <div class="card-property">
            <i class="small material-icons">business</i><br>
            Heating
          </div>
        </divc>
        {{/if}}
        {{#if house.features.ac}}
        <divc class="col s6 m4 l2 ">
          <div class="card-property ">
            <i class="small material-icons">ac_unit</i><br>
            A/C
          </div>
        </divc>
        {{/if}}
        {{#if house.features.piscina}}
        <divc class="col s6 m4 l2 ">
          <div class="card-property ">
            <i class="small material-icons">pool</i><br>
            Pool
          </div>
        </divc>
        {{/if}}
        {{#if house.features.terraza}}
        <divc class="col s6 m4 l2 ">
          <div class="card-property ">
            <i class="small material-icons">wb_sunny</i><br>
            Terrace
          </div>
        </divc>
        {{/if}}
        {{#if house.features.ascensor}}
        <divc class="col s6 m4 l2 ">
          <div class="card-property ">
            <i class="small material-icons">airplay</i><br>
            Elevator
          </div>
        </divc>
        {{/if}}
        {{#if house.features.wifi}}
        <divc class="col s6 m4 l2 ">
          <div class="card-property ">
            <i class=" small material-icons">wifi</i><br>
            Wifi
          </div>
        </divc>
        {{/if}}
      </div>

      <div class="divider"></div>

      <!-- SERVICES INCLUDES -->

      <blockquote>
        <h5 class="header">Services included:</h5>
      </blockquote>
      {{#each house.sevicesincluded}}
      {{@key}} -
      {{/each}}<br><br>
      <div class="divider"></div>



      <!-- HOUSE RESTRICTIONS -->

      <blockquote>
        <h5 class="header">Restrictions:</h5>
      </blockquote>
      <p>{{ house.restricciones }}</p>
    </div>

    {{!-- CARD BOOKING SIDE  --}}
    <div class="col s12 m6 l4">
      <div class="card calendar house_calendar_details">
        <div class="center-alig mandatory10">
          <h4> Room price from:</h4>
          <div id="price" class="center-align">
            <span id="finalPrice" class="red-text text-darken-4 valign-wrapper">
              <h2 id="price">{{house.finalPrice}}</h2>€/ Montly
            </span>
          </div>
          <div>From when you whant to in?</div><br>
        </div>
        <div class=" mandatory10 ">
          {{#if currentUser}}
          <form name="BookingForm" method="GET" action="/booking/{{house._id}}">

            <div class="carousel carousel-slider center " data-indicators="true">
              <div class="carousel-fixed-item center middle-indicator">
                <div class="left">
                  <a href="Previo"
                    class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i
                      class="material-icons left  middle-indicator-text">chevron_left</i></a>
                </div>
                <div class="right">
                  <a href="Siguiente"
                    class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i
                      class="material-icons right middle-indicator-text">chevron_right</i></a>
                </div>

                <div class="preloader-wrapper big active">
                  <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s12 m12 l12">
              <div class="col s12 m12 l6">
                <input type="hidden" class="dateIn">
                <input type="text" class="dateInText" value="Date  IN ">
              </div>
              <div class="col s12 m12 l6">
                <input type="hidden" class="dateOut">
                <input type="text" class="dateOutText" value="Date OUT">
              </div>

            </div>

            <div class="center-align">
              <span class="red-text text-darken-4" id="msgErr"></span>
              <button class="btn waves-effect waves-light" type="submit" style="margin-top: 15px" name="action">
                BOOKING
              </button>

            </div>
          </form><br>
          {{else}}
          <h3>Must be logged to book!</h3>
          {{/if}}
          {{!-- <div class="pd5">Initial Price: <span id="totalAmount">{{house.rentroom.costpermonth}}</span> €/
            Montly
          </div>
          <div class="pd5">Discounts: <span id="discountPrice">{{sumPointsMandatory}}</span> €/ Montly
          </div> --}}
          <input type="hidden" name="priceInitHidden" id="priceInitHidden" value="{{house.rentroom.costpermonth}}">
          <input type="hidden" name="discountHidden" id="discountHidden">
          <input type="hidden" name="priceEndHidden" id="priceEndHidden">
          <input type="hidden" name="houseId" id="houseId" value="{{house._id}}">
          <br>

        </div>
      </div>
    </div>
  </div><br>