<style>
  input[type="checkbox"][readonly] {
    pointer-events: none;
  }
</style>
<div class="row" style="">
  <div class="col s12 m1">
  </div>
  <div class="col s12 m10">
    <div class="textcenter">
      <h1>House details</h1>
      <h6>{{house.title}}</h6>
    </div>
  </div>
  <div class="col s12 m1">
  </div>
</div>

<!-- HOUSE SPECS -->
  <div class="row">
    <div class="col s12 m0">
    </div>
    <div class="col s12 m0" style="width: 50%">
      <blockquote>
        <h3 class="header">House specs</h3>
      </blockquote>
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <ul class="housespecs">
              <li>Number of rooms: {{ house.rooms }}</li>
              <li>Meters: {{ house.m2 }}</li>
              <li>Address: {{ house.address.street }}</li>
              <li>{{ house.address.city }}</li>
              <li>{{ house.address.state }}</li>
              <li>{{ house.address.zip }}</li>
          </div>
        </div>
      </div>
      <div class="col s12 m0">
      </div>
    </div>

<!-- FEATURES -->
    <div class="row">
      <div class="col s12 m0" style="width: 50%">
        <blockquote>
          <h3 class="header">Features:</h3>
        </blockquote>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <ul class="features">
                <li class="features">{{#each house.features}}</li>
                <li>{{this}}</li>
                {{/each}}
                <h4>Electro:</h4>
                <div class="divider"></div>
                <div class="section"></div>
                <li class="features">{{#each house.electro}}</li>
                <li>{{this}}</li>
                {{/each}}
            </div>
          </div>
        </div>
        <div class="col s12 m0">
        </div>
      </div>

<!-- SERVICES INCLUDES -->
      <div class="row">
        <div class="col s12 m0" style="width: 50%">
          <blockquote>
            <h3 class="header">Services included:</h3>
          </blockquote>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <ul class="features">
                <li class="features">{{#each house.sevicesincluded}}</li>
                <li>{{this}}</li>
                {{/each}}
              </div>
            </div>
          </div>
          <div class="col s12 m0">
          </div>
        </div>

<!-- SERVICES HOSTER -->
        <div class="row">
          <div class="col s12 m0" style="width: 50%">
            <blockquote>
              <h3 class="header">Services to hoster:</h3>
            </blockquote>
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <ul class="features">
                    <li class="features">{{#each house.sevicestohoster}}</li>
                    <li style="font-weight: bold">{{this.serviceType}}: <span style="font-weight: normal">{{this.points}} points.</span></li>
                    <li>is mandatory: {{this.mandatory}}</li>
                    <li>is optional: {{this.requirement}}</li>
                    <li>{{this.description}}</li></br>
                    {{/each}}
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col s12 m0">
    </div>
  </div>

  <!-- HOUSE RESTRICTIONS -->
  <div class="row">
    <div class="col s12 m0" style="width: 50%">
      <blockquote>
        <h3 class="header">Restrictions:</h3>
      </blockquote>
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ house.restricciones }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m0"></div>
  </div>

<!-- BOOKING -->
<div class="row">
  <div class="col s12 m0" style="width: 50%">
    <blockquote>
      <h3 class="header">Booking:</h3>
    </blockquote>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li>{{house.rentroom.booking}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m0"></div>
</div>

<!-- REVIEWS -->
<div class="row">
  <div class="col s12 m0" style="width: 50%">
    <blockquote>
      <h3 class="header">
        <h3>Reviews:</h3>
    </blockquote>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          {{#each house.rateandreview }}
          <li>{{this}}</li>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m0"></div>
</div>

<!--///////////////////////////HASTA AQUÃ CAMBIADO EL CSS////////////////////////////////////-->

      <h3>BOOK THIS HOUSE:</h3>
      Hi: {{currentUser.username.firstname}}<br />
      {{#if currentUser}}
      <form name="BookingForm" method="GET" action="/booking/{{house._id}}">
        <div>From when you whant to in?</div>
        <input type="month" id="dateIn" name="dateIn" min="2019-10" value="">
        <div>Until?</div>
        <input type="month" id="dateOut" name="dateOut" min="2019-10" value="">
        <input type="submit" value="Book!">
      </form>
      {{else}}
      <h3>Must be logged to book!</h3>
      {{/if}}
      <br />
    </div>

    {{!--start the price and booking --}}
    <div class="col s12 m6 l4">
      <h5>User: {{house.user.username.firstname}}</h5>
    </div>
  </div>
</div>